<title>Wordle Clone</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<nav>
    <h1>Wordle Clone</h1>
</nav>
<section class="content">
    {% for i in range(6) %}
        <p>{{game_board[0][i]}} | {{game_board[1][i]}}</p>
    {% endfor %}
    <p></p>
    <p>Your guess was:</p>
    {% if  guess is not none %}
        <p>{{ guess }}</p>
    {% endif %}
    <p>The solution was:</p>
    <p>{{ session['solution_word'] }}</p>

    <h1>Try again!</h1>

    <form action="{{ url_for('game.reset') }}" method="post">
        <input type="submit" value="Reset">
    </form>
</section>